---
title: Sass API reference
weight: 90
---

# Sass API reference

<% format_sassdoc_data(data[:sassdoc]).each do |group_name, subgroups| %>

## <%= group_heading(group_name) %>

<% subgroups.each do |subgroup_name, subgroup| %>

### <%= subgroup_heading(subgroup_name) %>

<% subgroup.each do |item| %>

#### <%= item_heading(item) %>

<%= item.description %>

<% if item.parameter %>

##### Parameters

| Name | Description | Type | Default value |
| ---- | ----------- | ---- | ------------- |
<% parameters_table(item.parameter).each do |param| %>
| # <%= param.name %> | <%= param.description %> | <%= param.type %> | <%= param.default_value %> |
<% end %>
<% end %>

<% if item.deprecated || item.context.type == 'mixin' %>

##### Usage

<% if item.deprecated %>
  <% partial(:warning_text) do %>
    <%= markdown("Deprecated: " +item.deprecated) %>
  <% end %>
<% end %>

<% if item.context.type == 'mixin' %>

```scss
@include <%= "#{item.context.name}#{inline_parameters(item.parameter)}#{mixin_trailing_code(item.context.code)}" %>
```

<% end %>
<% end %>

<% if item.context.type == 'variable' %>

##### Default value

```scss
$<%= item.context.name %>: <%= item.context.value %>;
```

<% end %>

<% if item.example %>

<% item.example.each do |example| %>

##### Example<% if example.description %>: <%= example.description %><% end %>

```<%= example.type %>
<%= example.code %>
```

<% end %>
<% end %>

<a href="<%= github_url(item) %>">
    View source code for <%= item.file.name %> on GitHub
</a>

<div class="govuk-!-margin-bottom-9"></div>

<% end %>
<% end %>
<% end %>
