---
title: Sass API Reference
weight: 65
---

# Sass API Reference

<%# Remove private entries %>
<% groupedDocs = data.sassdoc.select{ |doc| doc.access == 'public' } %>
<%# Remove vendored files %>
<% groupedDocs = groupedDocs.select{ |doc| !doc.file.path.start_with?('vendor') } %>
<%# Group the docs by their 'group' %>
<% groupedDocs = groupedDocs.group_by{ |doc| doc.group.first } %>
<% groupedDocs.each do |index, group| %>

## <%= index == 'undefined' ? 'General' : index.gsub('/', ' / ').titlecase %>

    <% group.each do |doc| %>

### <%= doc.context.type == 'variable' ? '$' : ''  %><%= doc.context.name %>

<%= doc.description %>

        <% if doc.parameter %>
            <%= partial(:parameters_table, locals: { doc: doc }) %>
        <% end %>

#### Usage

        <% if doc.parameter %>
            <% inline_parameters = capture do %>
                <% doc.parameter.each_with_index do |param, index| -%>
<%= partial(:inline_parameters, locals: { doc: doc, param: param, index: index }) -%>
                <% end %>
            <% end %>
            <% inline_parameters = "(#{inline_parameters})" %>
        <% end %>

        <% if doc.context.type == 'mixin' %>
            <% acceptsContent = doc.context.code.include?('@content') %>
            <% trailingCode = capture do %><% if acceptsContent %> {
    .app-selector {
        // ...
    }
}<% else %>;<% end -%>
            <% end %>

```scss
@include <%= doc.context.name %><%= inline_parameters %><%= trailingCode -%>
```
        <% end %>

        <% if doc.context.type == 'function' %>
```scss
$result: <%= doc.context.name %><%= inline_parameters -%>;
```
        <% end %>

        <% if doc.context.type == 'variable' %>
```scss
$<%= doc.type.downcase %>: $<%= doc.context.name %>;
```
        <% end %>

        <% if doc.example %>
#### Example

            <% doc.example.each do |example| %>
##### <%= example.description %>

```<%= example.type %>
<%= example.code %>
```
            <% end %>
        <% end %>

View source code on GitHub:
<a href="https://github.com/alphagov/govuk-frontend/tree/master/src/govuk/<%= doc.file.path %>#L<%= doc.context.line.start %>-L<%= doc.context.line.end %>">
    <%= doc.file.name %>
</a>

<hr>

    <% end %>
<% end %>
